
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 100;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Thin.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Thin.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 200;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Light.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Light.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 300;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 400;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Regular.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Regular.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 700;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Bold.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Bold.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 900;
	src: local('â€»'),
		url('../../fonts/notocjk/NotoSansKR-Black.woff2') format('woff2'),
		url('../../fonts/notocjk/NotoSansKR-Black.woff') format('woff'),
		url('../../fonts/notocjk/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 100;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumThin.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumThin.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumThin.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumThin.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumThin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 400;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumMedium.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumMedium.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumMedium.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumMedium.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumMedium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 700;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumSemiBold.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumSemiBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaDotum';
    font-style: normal;
    font-weight: 900;
    src: local('â€»'),
        url('../../fonts/AritaDotum/AritaDotumBold.woff2') format('woff2'), 
        url('../../fonts/AritaDotum/AritaDotumBold.woff') format('woff'),
        url('../../fonts/AritaDotum/AritaDotumBold.ttf') format('truetype'),
        url('../../fonts/AritaDotum/AritaDotumBold.otf') format('opentype'),
        url('../../fonts/AritaDotum/AritaDotumBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 100;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriL.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriL.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriL.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriL.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriL.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 400;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriM.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriM.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriM.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriM.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriM.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 700;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriSB.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriSB.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriSB.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriSB.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriSB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'AritaBuri';
    font-style: normal;
    font-weight: 900;
    src: local('â€»'),
        url('../../fonts/AritaBuri/AritaBuriB.woff2') format('woff2'), 
        url('../../fonts/AritaBuri/AritaBuriB.woff') format('woff'),
        url('../../fonts/AritaBuri/AritaBuriB.ttf') format('truetype'),
        url('../../fonts/AritaBuri/AritaBuriB.otf') format('opentype'),
        url('../../fonts/AritaBuri/AritaBuriB.eot') format('embedded-opentype');
}
@font-face {
	font-family: 'Antro Vectra';
	font-style: normal;
	font-weight: 400;
	src: local('â€»'),
	   url('../../fonts/antro/Antrovectra-DOLWD.woff2') format('woff2'),
	   url('../../fonts/antro/Antrovectra-DOLWD.woff') format('woff'),
	   url('../../fonts/antro/Antrovectra-DOLWD.otf') format('opentype'),
	   url('../../fonts/antro/Antrovectra-DOLWD.ttf') format('truetype');
 }

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Myeongjo', serif;
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swa') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @import url('http://fonts.cdnfonts.com/css/antro-vectra'); */

/* @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css); */

@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');

/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Noto Sans CJK KR';
	font-family: 'NanumSquare', sans-serif;
	font-family: 'Cormorant', serif;
	font-family: 'Neuton', serif;
	
	font-family: 'AritaDotum'; 900,700,400,100
	font-family: 'AritaBuri';  900,700,400,100
	
	font-family: 'Antro Vectra', sans-serif;
	
    font-family:'NanumSquareRound';
	
	font-family: 'NanumBarunGothic', sans-serif;

	.normal		{ font-weight: 400 }
	.bold		{ font-weight: 700 }
	.bolder		{ font-weight: 800 }
	.light		{ font-weight: 300 }

*/

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #444;
}

html,
body {
	font-family:'Open Sans', 'Noto Sans CJK KR', "Malgun Gothic", "Nanum Gothic", NanumGothic, Dotum, "ë‹ì›€", Arial;
	color: #000;
}

body {
	font-family:'Open Sans', 'Noto Sans CJK KR', "Malgun Gothic", "Nanum Gothic", NanumGothic, Dotum, "ë‹ì›€", Arial;
}


a:hover {
	text-decoration: none;
}
a {
	color: unset;
}
input,
textarea:focus {
	outline: none !important;
}
br {
	visible: hidden;
}
br {
	font-family: none;
}
*:focus {
	outline: none !important;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#table_refund {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin: 1% 0;
}

#table_refund tr,
#table_refund td {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

#table_refund th {
	background: #f3f3f3;
	padding: 5px;
	border: 1px solid #ccc;
	text-align: center;
}

#login_fs legend {
	display: none;
}

#bo_v {
	margin: 0;
}

#bo_sch legend {
	display: none;
}

@media (min-width: 1921px) {}

@media (min-width: 1200px) {}

@media (max-width: 1024px) {
	
	#table_refund {
		width: 100%;
	}
	.sd_h_120 {
		height: calc(100vw * 0.9) !important;
	}
	.sd_h_100 {
		height: calc(100vw * 0.7) !important;
	}
	
	.sd_h_130 {
		height: calc(100vw * 0.9) !important;
	}
	.sd_h_50 {
		height: calc(100vw * 0.55) !important;
	}
}

@media (max-width: 998px) {}

@media (max-width: 769px) {

	.content.map #section1.sd_h_120 {
		height: calc(100vw * 1.2) !important;
	}
}

@media (max-width: 560px) {
	#table_refund { 
		font-size:10px;
		letter-spacing:-0.9px;
	}
	.sd_h_130 {
		height: calc(100vw * 1.6) !important;
	}
	.content.map #section1.sd_h_120 {
		height: calc(100vw * 2) !important;
	}
}




#hd_pop {
	width: auto !important;
}

/* íŒì—… */
@media (max-width:768px) {

}